/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/10/2020, 13:44:46
    Author     : dilaz
*/

body {

    color: #333333;
    font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
    /* border: 1px solid red;*/
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
h1 {
    background-image: url(img/sobre-background.jpg);/*se colocar .../img ele volta uma pasta*/ 
    padding: 10px
}
h2 {
    border-bottom: 2px solid #333333;
    padding-top: 30px
}
p{
    padding: 0 45px;
    text-indent: 15px;
}
figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 1px;
    margin: 1px;
}
figcaption {
    font-style: italic;
    margin-top: 10px
}
#foto-integrantes img{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    max-width:550px;
    max-height:550px;
    width: auto;
    height: auto;
}
#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}
#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

p::first-letter{
    font-weight: bold
}
h1+p{
    text-indent: 0
}
p::first-line{
    font-variant: small-caps;
}
